@model IEnumerable<Bookss.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach(var item in Model){
    <div>
        <h3>@item.Name</h3>
        @foreach(var book in item.Books){
              <div class="flex flex-col items-center border border-x-blue-950 rounded-2xl bg-blue-950 w-52">
            <img src="@book.ImageUrl" alt="@book.Title" class="w-full h-36 rounded-lg" />
            <div class="">
                <h3 class="text-white text-sm">@book.Title</h3>
                <h3 class="text-white text-sm">@book.Author.Name</h3>
                <a asp-action="Details" asp-route-id="@book.Id"
                    class="btn btn-primary hover:bg-blue-500 hover:text-white border border-x-blue-950">Details</a>
            </div>
        </div>
        }
    </div>
}

