@model Bookss.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="grid-cols-2 grid-row    s-3">
    <img src="@Model.ImageUrl" alt="@Model.Title" class="w-80 row-span-2 h-96 rounded-lg" />
    <div class="">
        <h3 class="text-black text-sm">@Model.Title</h3>
        <h3 class="text-black text-sm">@Model.Author.Name</h3>
        <h3 class="text-black text-sm">@Model.Genre.Name</h3>
        <a asp-action="Details" asp-route-id="@Model.Id"
            class="btn btn-primary hover:bg-blue-500 hover:text-white border border-x-blue-950">Details</a>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
